<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 構造注入，這種循環依賴有沒有問題？ -->
    <!-- 注意：基於構造注入的方式下產生的循環依賴也是無法解決的，所以編寫代碼時一定要注意。 -->
    <bean id="h" scope="singleton" class="com.powernode.spring6.bean2.Husband">
        <constructor-arg index="0" value="Mike"/>
        <constructor-arg index="1" ref="w"/>
    </bean>

    <bean id="w" scope="singleton" class="com.powernode.spring6.bean2.Wife">
        <constructor-arg index="0" value="Susan"/>
        <constructor-arg index="1" ref="h"/>
    </bean>

</beans>