<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.powernode.bank.mapper.AccountMapper">

    <insert id="insert">
        INSERT INTO t_act VALUES (#{actno}, #{balance})
    </insert>

    <delete id="deleteByActno">
        DELETE FROM t_act WHERE actno = #{actno}
    </delete>

    <update id="update">
        UPDATE t_act SET balance = #{balance} where actno = #{actno}
    </update>

    <select id="selectByActno" resultType="Account">
        SELECT * FROM t_act WHERE actno = #{actno}
    </select>

    <select id="selectAll" resultType="Account">
        SELECT * FROM t_act
    </select>

</mapper>