<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置我們自定義的作用域 -->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="threadScope">
                    <!-- 這個Scope介面的實現類使用的是Spring框架内置的。也可以自定義 -->
                    <bean class="org.springframework.context.support.SimpleThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>

    <!--
        目前來說：scope屬性有兩個值
            第一個值：singleton 單例（默認情況下就是單例的。）
            第二個值：prototype 原型/多例

        其實scope屬性有多個值：
            例如：request session
            但是request session要求項目必須是一個web應用。當你引入springmvc框架的時候，這兩個值就可以使用了。
            request：一次請求當中一個bean
            session：一次會話中只有一個bean
     -->
    <bean id="sb" class="com.powernode.spring6.bean.SpringBean" scope="threadScope"/>
    <!--    <bean id="sb" class="com.powernode.spring6.bean.SpringBean" scope="singleton"/>-->
    <!--    <bean id="sb" class="com.powernode.spring6.bean.SpringBean" scope="prototype"/>-->
    <!--    <bean id="sb" class="com.powernode.spring6.bean.SpringBean" scope="request"/>-->

</beans>