<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置自己寫的數據源 -->
    <!-- 當然，也可以集成其他人或者其他組織開發的數據源，例如：Hikari c3p0 dbcp druid -->
    <!--    <bean id="ds" class="com.powernode.spring6.bean.MyDataSource">-->
    <!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url" value="jdbc:mysql://localhost:3306/spring6"/>-->
    <!--        <property name="username" value="root"/>-->
    <!--        <property name="password" value="1234"/>-->
    <!--    </bean>-->

    <!--配置JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"/>
    </bean>

    <!-- 引入Hikari連接池 -->
    <bean id="ds" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring6"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <!--引入德魯伊連接池-->
    <!--    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">-->
    <!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url" value="jdbc:mysql://localhost:3306/spring6"/>-->
    <!--        <property name="username" value="root"/>-->
    <!--        <property name="password" value="root"/>-->
    <!--    </bean>-->
</beans>