<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 組件掃描 -->
<!--    <context:component-scan base-package="com.powernode.bank"/>-->

    <!-- 在spring的核心配置文件中引入其他的子spring配置文件 -->
    <import resource="common.xml"/>

    <!--引入外部的屬性配置文件-->
    <context:property-placeholder location="jdbc.properties"/>

    <!--數據源-->
    <bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置SqlSessionFactoryBean -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
    <!-- 注入數據源 -->
        <property name="dataSource" ref="datasource"/>
    <!-- 指定mybatis核心配置文件 -->
        <property name="configLocation" value="mybatis-config.xml"/>
    <!-- 指定別名 -->
        <property name="typeAliasesPackage" value="com.powernode.bank.pojo"/>
        </bean>

    <!-- Mapper掃描配置器，主要掃描Mapper介面，生成代理類 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.powernode.bank.mapper"/>
    </bean>

    <!-- 事務管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>

    <!-- 啟用事務註解 -->
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>