<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
            第一步：在spring的配置文件頭部添加: xmlns:c="http://www.springframework.org/schema/c"
            第二步：使用
                c:_0 下標方式
                c:name 參數名方式
        -->
    <!--<bean id="peopleBean" class="com.powernode.spring6.bean.People" c:_0="susan" c:_1="30" c:_2="true"/>-->
    <bean id="peopleBean" class="com.powernode.spring6.bean.People" c:name="Lisa" c:age="30" c:sex="true"/>

</beans>