<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 根據類型進行自動裝配 -->
    <!-- 自動裝配是基於set方法的 -->
    <!-- 根據類型進行自動裝配的時候，在有效的配置文件當中，某種類型的實例只能有一個。 -->
    <bean class="com.powernode.spring6.dao.VipDao"/>
    <bean id="x" class="com.powernode.spring6.dao.UserDao"/>
    <!--<bean id="y" class="com.powernode.spring6.dao.UserDao"/>-->
    <bean id="cs" class="com.powernode.spring6.service.CustomerService" autowire="byType"/>

    <!-- 根據名字進行自動裝配 -->
    <!-- 注意：自動裝配也是基於set方式實現的 -->
    <bean id="orderService" class="com.powernode.spring6.service.OrderService" autowire="byName"/>

    <!-- id一般也叫作bean的名稱 -->
    <!-- 根據名字進行自動裝配的時候，被注入物件的bean的id不能隨便寫，怎麼寫？ set方法的方法名去掉set，剩下單詞首字母小寫 -->
    <bean id="orderDao" class="com.powernode.spring6.dao.OrderDao"/>

    <!--<bean id="orderService" class="com.powernode.spring6.service.OrderService">
        <property name="orderDao" ref="fdsafdsafdsa"/>
    </bean>

    <bean id="fdsafdsafdsa" class="com.powernode.spring6.dao.OrderDao"/>-->

</beans>