<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personBean" class="com.powernode.spring6.bean.Person">

        <property name="properties">
            <!-- 注入Properties屬性類物件 -->
            <props>
                <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="url">jdbc:mysql://localhost:3306/spring6</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>

        <property name="phones">
            <!-- 注入Map集合 -->
            <map>
                <!-- 如果key和value不是簡單類型就用這個配置。 -->
                <!-- <entry key-ref="" value-ref=""/> -->
                <!-- 如果是簡單類型就是key和value -->
                <entry key="1" value="110"/>
                <entry key="2" value="120"/>
                <entry key="3" value="119"/>
            </map>
        </property>

        <property name="names">
            <!-- list集合有序可重複 -->
            <list>
                <value>張三</value>
                <value>李四</value>
                <value>王五</value>
                <value>張三</value>
                <value>張三</value>
                <value>張三</value>
                <value>張三</value>
            </list>
        </property>

        <property name="addrs">
            <!-- set集合無序不可重複 -->
            <set>
                <value>台北信義區</value>
                <value>台北大安區</value>
                <value>台北大同區</value>
                <value>台北文山區</value>
                <value>台北松山區</value>
            </set>
        </property>
    </bean>
</beans>